<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <description>ZK loader for ZUML pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
        It must be the same as <url-pattern> for the update engine.
        -->
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <!-- Optional. Specifies whether to compress the output
        of the ZK loader. It speeds up the transmission over slow Internet.
        However, if you configure a filter to post-processing the
        output, you might have to disable it.

        Default: true
        <init-param>
                <param-name>compress</param-name>
                <param-value>true</param-value>
        </init-param>
        -->
        <!-- [Optional] Specifies the default log level: OFF, ERROR, WARNING,
                INFO, DEBUG and FINER. If not specified, the system default is used.
        <init-param>
                <param-name>log-level</param-name>
                <param-value>OFF</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
        <!-- Must -->
    </servlet>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.zul</welcome-file>
        <welcome-file>index.zhtml</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
